header {
    background-color: #F5CAC3;
}

#delivery-banner {
    background-color: #84A59D;
}

body {
	background: url('/media/hero.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Lato";
}