{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="my-5 fw-bold text-uppercase">Frequently Asked Questions</h2>
                </div>
            </div>
            <div class="mb-5">
                <div class="my-4">
                    <h5 class="fw-bold">Q: What is the estimated delivery time for my order?</h5>
                    <p>A: Delivery within Europe typically takes 3 – 10 business days, encompassing order processing and shipping phases.</p>
                </div>
                <div class="my-4">
                    <h5 class="fw-bold">Q: What is the process for returning items I've purchased?</h5>
                    <p>
                        A: At Footwear Fusion, returns are accepted within 28 days for items in saleable condition. 
                        Initiate a return via our contact form, including your order number and return reason.
                        We'll respond with a return label. 
                        Reuse our packaging or any waterproof material at hand. 
                        Consolidate returns from multiple orders in one package, ensuring all return notes are included.
                    </p>
                </div>
                <div class="my-4">
                    <h5 class="fw-bold">Q: How do I verify my order if I haven't received a confirmation email?</h5>
                    <p>A: Check your order status in your account's purchase history. If your order is listed there, we have received it and it's in process. If it's not listed, please get in touch with us.</p>
                </div>
                <div class="my-4">
                    <h5 class="fw-bold">Q: Which payment methods are accepted?</h5>
                    <p>A: We accept payments through MasterCard, Visa, and American Express. Your personal details are secure with us, as all information is encrypted for utmost privacy and security.</p>
                </div>
                <div class="my-4 pb-4">
                    <h5 class="fw-bold">Q: Is it possible to cancel or modify my order after placement?</h5>
                    <p>A: Orders are processed promptly, making post-confirmation changes difficult. However, if you contact us immediately after placing the order, we may be able to assist with modifications.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
